.navHeight {
    margin-top: 110px;
}

.homeImage {
    height: 500px;
}

.homepa {
    display: flex;
    justify-content: center;
}

.aWidthOf {
    width: 750px;
}

@media screen and (max-width: 1056px) {
    .homepa {
        display: flex;
        justify-content: center;
    }

    .homeImage {
        width: 100%;
        margin-top: 20px;
    }
}


@media screen and (max-width: 751px) {
    .aWidthOf {
        width: 90%;
    }
}