.cardGridd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.cardImage {
    height: 230px;
}

.downLod:hover {
    color: green;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .cardGridd {
        grid-template-columns: repeat(1, 1fr);
        width: 300px;
        margin: 0 auto;
    }

    .cardImage {
        height: auto;
    }

}